.salar{background-color: cyan}
#issa{
    
    background-color: brown;
    color: white
    padding: 80px 100px inherit;
    margin: 100px;
    order: 30px solid darkblue;
    border-radius: 40px;
    .sico background-color: #00ff28;
    padding: 11px;}







   .sico{background-color: brown;
    padding: 50px 100px;}

    .my lord{
        width: 200px;
        height: 140px;}
        .hd{
            display: inline;
        }
    
    
   